<a href="https://colab.research.google.com/github/lsmc-isa/Exercises/blob/main/ass_3_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Uploading the panda library from a zip file on my local computer

In [ ]:
import zipfile

with zipfile.ZipFile('/content/kiva_loans.csv.zip', 'r') as z:
    z.extractall('/content/')
#extract the zip file

In [ ]:
import pandas as pd

df = pd.read_csv('/content/kiva_loans.csv')
df.head()
#importing to the notebook the panda library

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

## Ass. 3 - Kiva Loan Analysis

This notebook analyzes the Kiva loan dataset using Pandas.
The goal is to create 6 meaningful questions and answer them using:
- row selection using string/numerical conditions,
- sorting with `.sort_values()`,
- grouping and aggregation,
- and creating a new variable using `apply` and `lambda`.

## Q1 — Which countries received the highest total loan amount?

Here we group the data by country, sum all loan amounts, and display the top 10.
This uses:

- `groupby()`
- `sum()`
- `sort_values()`

This answers: *Which countries get the most funding through Kiva?*

In [ ]:
total_by_country = (
    df.groupby("country")["loan_amount"]
      .sum()
      .sort_values(ascending=False)
      .head(10)
)

total_by_country

country
Philippines      55342225.0
Kenya            34534300.0
United States    31496375.0
Peru             30867400.0
Paraguay         29629075.0
El Salvador      26603650.0
Cambodia         19872700.0
Bolivia          19843250.0
Rwanda           16646300.0
Uganda           15389350.0
Name: loan_amount, dtype: float64

## Q2 — What is the average loan amount per economic sector?

We group loans by sector and compute the mean loan size.
This lets us understand which sectors receive larger or smaller loans on average.

Uses:
- `groupby()`
- `mean()`
- `sort_values()`

In [ ]:
avg_by_sector = (
    df.groupby("sector")["loan_amount"]
      .mean()
      .sort_values(ascending=False)
)

avg_by_sector

sector
Entertainment     1673.674699
Wholesale         1569.716088
Clothing          1139.237829
Construction      1068.147735
Health            1067.266616
Services          1064.631148
Arts              1014.952322
Education          998.565924
Food               889.864039
Manufacturing      877.561211
Agriculture        793.490228
Retail             788.173727
Transportation     713.165356
Housing            701.549020
Personal Use       411.030644
Name: loan_amount, dtype: float64

## Q3 — Which loans are above the global average loan amount?

We first calculate the overall average (`mean()`) and then filter all rows where
the loan amount is greater than that. This uses a *numerical condition*.

This shows which loans are above-average compared to the dataset overall.

In [ ]:
mean_loan = df["loan_amount"].mean()
above_avg_loans = df[df["loan_amount"] > mean_loan]

above_avg_loans.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
17,653052,875.0,875.0,Tailoring,Services,"To buy a sewing machine, lace, zippers and but...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:25:41+00:00,2013-12-17 08:00:00+00:00,2014-01-01 18:07:34+00:00,11.0,25,NaN,"female, female, female",irregular,2014-01-01
35,653047,2225.0,2225.0,Personal Products Sales,Retail,to buy hair oils to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 04:49:26+00:00,2013-12-17 08:00:00+00:00,2014-01-19 16:39:37+00:00,11.0,58,"#Parent, #Repeat Borrower, user_favorite","female, female, female, female, female, female...",irregular,2014-01-01
50,653170,3175.0,3175.0,Butcher Shop,Food,to buy meat and also to start selling fish in ...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 06:26:40+00:00,2013-12-26 08:00:00+00:00,2014-01-29 16:05:19+00:00,10.0,93,"#Parent, #Repeat Borrower, #Schooling, user_fa...","male, male, male, male, male",monthly,2014-01-02
59,653161,3175.0,3175.0,Home Products Sales,Retail,to buy fabric to sell and materials to make be...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 06:03:54+00:00,2013-12-26 08:00:00+00:00,2014-01-19 15:06:04+00:00,8.0,114,"#Parent, #Repeat Borrower, #Woman Owned Biz, u...","male, female, female, female",irregular,2014-01-02
62,653290,4275.0,4275.0,Personal Housing Expenses,Housing,to pay for the construction of a hygienic toil...,VN,Vietnam,Hai Duong,VND,331.0,2014-01-02 11:12:43+00:00,2014-01-27 08:00:00+00:00,2014-01-11 05:20:41+00:00,14.0,144,"user_favorite, #Low-profit FP, #Post-disbursed...","female, female, female, female, female, female...",bullet,2014-01-02

## Q4 — Show all loans from the Agriculture or Food sectors.

This uses a **string-based filter** with `.isin()`.  
It allows selecting specific categories from a text column.

This answers: *How many loans are related to food or farming?*

In [ ]:
filtered_sectors = df[df["sector"].isin(["Agriculture", "Food"])]
filtered_sectors.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01
6,653067,200.0,200.0,Dairy,Agriculture,To purchase a dairy cow and start a milk produ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:51:02+00:00,2013-12-16 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,8,"user_favorite, user_favorite",female,bullet,2014-01-01
9,653048,625.0,625.0,Food Production/Sales,Food,"to buy a stall, gram flour, ketchup, and coal ...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 05:41:03+00:00,2013-12-17 08:00:00+00:00,2014-01-03 15:45:04+00:00,11.0,24,NaN,female,irregular,2014-01-01
14,653075,225.0,225.0,Poultry,Agriculture,to expand her existing poultry farm business.,IN,India,Dhupguri,INR,334.0,2014-01-01 11:24:40+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:58:18+00:00,43.0,7,user_favorite,female,bullet,2014-01-01

## Q5 — Sort loans by term (ascending) and loan amount (descending).

This uses `sort_values()` with two columns.  
It answers: *Which loans are short-term but have large amounts?*

In [ ]:
sorted_loans = df.sort_values(
    by=["term_in_months", "loan_amount"],
    ascending=[True, False]
)

sorted_loans.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
2915,1080219,250.0,250.0,Clothing,Clothing,purchase a hair drier machine for making hair ...,KE,Kenya,NaN,KES,NaN,2014-01-10 06:18:26+00:00,2014-03-07 00:46:43+00:00,2014-03-06 05:09:22+00:00,1.0,5,NaN,female,irregular,2014-01-10
11319,1080391,250.0,250.0,Transportation,Transportation,buy a second motorbike for my business.,KE,Kenya,NaN,KES,NaN,2014-01-31 19:01:15+00:00,2014-02-26 21:53:33+00:00,2014-02-12 22:28:50+00:00,1.0,11,NaN,female,irregular,2014-01-31
11410,1080393,250.0,250.0,General Store,Retail,buy motorbike spares and open a small garage f...,KE,Kenya,NaN,KES,NaN,2014-01-31 19:22:13+00:00,2014-02-26 21:53:57+00:00,2014-02-19 09:24:16+00:00,1.0,15,NaN,female,irregular,2014-01-31
11488,1080392,250.0,250.0,Grocery Store,Food,buy food items and increase the size of my ho...,KE,Kenya,NaN,KES,NaN,2014-01-31 19:09:26+00:00,2014-02-26 21:53:51+00:00,2014-02-16 13:39:19+00:00,1.0,19,NaN,female,irregular,2014-01-31
11599,1080394,250.0,250.0,Grocery Store,Food,purchase more pineapples and goods for my cant...,KE,Kenya,NaN,KES,NaN,2014-01-31 19:30:12+00:00,2014-02-26 21:54:25+00:00,2014-02-25 22:25:11+00:00,1.0,30,NaN,female,irregular,2014-01-31

## Q6 — Create a new variable categorizing loans as Small, Medium, or Large.

This uses `apply()` and a `lambda` function.  
It demonstrates how to create new columns based on conditions.

Rules:
- Small  < 500
- Medium < 1000
- Large  >= 1000

In [ ]:
df["loan_size_category"] = df["loan_amount"].apply(
    lambda x: "Small" if x < 500 else ("Medium" if x < 1000 else "Large")
)

df[["loan_amount", "loan_size_category"]].head()

   loan_amount loan_size_category
0        300.0              Small
1        575.0             Medium
2        150.0              Small
3        200.0              Small
4        400.0              Small